name: 'ci'
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Set node version to LTS
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Use npmmirror registry
        run: pnpm config set registry https://registry.npmmirror.com

      - run: PUPPETEER_SKIP_DOWNLOAD=1 pnpm install

      - name: Run CasePolice
        run: npx case-police --fix

      - name: Run zhlint
        run: npx zhlint docs/README.zh-CN.md --fix

      - name: Run ESLint
        run: npx lint-staged

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Set node version to LTS
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Use npmmirror registry
        run: pnpm config set registry https://registry.npmmirror.com

      - run: PUPPETEER_SKIP_DOWNLOAD=1 pnpm install

      - name: Run unit tests
        run: pnpm run test-unit
